button{
    flex-basis: 35%;
    background-color: darkmagenta;
    color: white;
    border: none;
    font-weight: bold;
    padding: 7px 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 15px;
    box-shadow: 0 4px 4px #b8b8b8;
}
button.new{
    display: flex;
    align-items: center;
}
button:hover{
    opacity: 0.7;
}